
.antraštė 
{
  font-family: "Lobster";
	color: #990000;
  font-size: 30px;
  text-align: center;
}
table {
  border-collapse: collapse;
  border: 2px solid black;
   background-color:khaki;
   text-align:center; 
   margin-left:auto; 
   margin-right:auto; 
   width:100px;
}
body{background-image: url("background.jpg"); }
th{
 border: 2px solid black;
 padding: 5px;
 background-color:khaki;
 font-size: 20px;
 font-family: "Courgette";
}
td{
  border: 2px solid black;
  height: 20px;
  background-color:khaki;
  text-align: right;
  font-size: 20px;
  font-family: "Courgette";
}
#Vardas{color: black;
  text-align: left;
font-size: 20px;
font-family: "Courgette";} 